<!DOCTYPE html>
<html>
<head>
	<title>Belle Isle Studios</title>
  <meta name="Description" content=" Belle Isle Studios - Professional Recording, Mastering and Production Studio, Recording Studio, custom music composition, sound effects design, editing and mastering services. Digital Sound  Recording, Professional Recording and Audio Production" />
	<meta name="Keywords" content="Belle Isle Recording Studio,Victoria, B.C., Vancouver Island Recording Studios, Vancouver Recording Studios, Digital Recording Studio, Recording Facility Victoria  Recording Studios, singers, musicians, recording studio, music studio, recording, music, studio, songs, mixing, mastering, engineer, vancouver, post, production, pre, band, guitar, keyboard, bass, CD, DVD, recording studio, music studio, recording, music, studio, songs, mixing, engineer, vancouver, post, production, band, guitar, keyboard, bass, CD, DVD, download, sound, audio, editing, commentary, sound effects, design, pro tools, engineer, record, microphone, canada, custom, publishing, mixing, music studios, cd mastering, digital editing, studios, platinum, gold recording, music production, soundtracks, midi, sequencing, analog, producers, gold, studio, automated mixing, records, commercial, production, audio for video, voice overs, microphones, Valann, Jade" />
</head>
<body>
	<div class="container">
		<div class="logo-img">
			<%= image_tag("belle_isle_music_logo.png") %>
		</div>
		<div style="text-align: center;">
			<h1>David W. Bower</h1>
			<h2>1 (250) 888 2388</h2>
			<h3>david@exbritmusic.com</h3>
			<h3>Visit the studio at:</h3>
			<h4><a href="http://www.belleislestudios.com" target="_blank">www.belleislestudios.com</a></h4>
		</div>
		<div>
			<%= image_tag("london_skyline.jpg")%>
		</div>
</div>
</body>
</html>
