<!DOCTYPE html>
<html>
<head></head>
<body>
	<div class="logo-img">
		<%= image_tag("main_logo.jpeg") %>
	</div>
	<div style="text-align: center;">
		<h1>David W. Bower</h1>
		<h2>1 (250) 888 2388</h2>
		<h3>david@exbritmusic.com</h3>
		<h3>Visit the studio at:</h3>
		<h4><a href="http://www.belleislestudios.com" target="_blank">www.belleislestudios.com</a></h4>
	</div>
	<div>
		<%= image_tag("london_skyline.jpg")%>
	</div>
</body>
</html>
